<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="TP for p2CoJaL build" sequenceNumber="1420321048">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.osgi" version="3.9.1.v20140110-1610"/>
      <unit id="org.eclipse.osgi.services" version="3.3.100.v20130513-1956"/>
      <unit id="org.eclipse.osgi.util" version="3.2.300.v20130513-1956"/>
      <repository id="eclipse" location="http://download.eclipse.org/eclipse/updates/4.3"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="classmate" version="0.9.0"/>
      <unit id="javassist" version="3.18.1.GA"/>
      <unit id="org.apache.aries.jndi" version="1.0.0"/>
      <unit id="org.apache.aries.jpa.api" version="1.0.0"/>
      <unit id="org.apache.aries.jpa.container" version="1.0.0"/>
      <unit id="org.apache.aries.proxy" version="1.0.0"/>
      <unit id="org.apache.aries.util" version="1.0.0"/>
      <unit id="org.apache.aries.transaction.manager" version="1.0.0"/>
      <unit id="org.apache.commons.collections" version="3.2.1"/>
      <unit id="org.apache.commons.lang" version="2.5.0"/>
      <unit id="org.apache.commons.pool" version="1.5.4"/>
      <unit id="org.apache.geronimo.specs.geronimo-j2ee-connector_1.5_spec" version="2.0.0"/>
      <unit id="org.apache.geronimo.specs.geronimo-jpa_2.0_spec" version="1.1.0"/>
      <unit id="org.apache.geronimo.specs.geronimo-jta_1.1_spec" version="1.1.1"/>
      <unit id="org.apache.openjpa" version="2.0.0"/>
      <unit id="org.apache.servicemix.bundles.ant" version="1.8.2.2"/>
      <unit id="org.apache.servicemix.bundles.antlr" version="2.7.7.5"/>
      <unit id="org.apache.servicemix.bundles.dbunit" version="2.4.9.1"/>
      <unit id="org.apache.servicemix.bundles.serp" version="1.13.1.2"/>
      <unit id="org.dom4j" version="1.6.1"/>
      <unit id="org.hibernate.common.hibernate-commons-annotations" version="4.0.4.Final"/>
      <unit id="org.hibernate.entitymanager" version="4.2.7.Final"/>
      <unit id="org.hibernate.eclipse" version="4.2.7.Final"/>
      <unit id="org.hibernate.osgi" version="4.2.7.Final"/>
      <unit id="org.jboss.logging.jboss-logging" version="3.1.3.GA"/>
      <unit id="org.ops4j.pax.logging.pax-logging-api" version="1.5.0"/>
      <unit id="wrap_mvn_org.jboss_jandex_1.1.0.Final" version="0.0.0"/>
      <unit id="org.apache.derby.tools" version="10.8.2.2"/>
      <repository location="file:/home/glefur/repositories/p2CoJaL/repository"/>
    </location>
  </locations>
</target>
